@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: rgb(37 37 37 / 90%);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: 430px;
}

.loader {
	border: 2px solid white;
	border-left-color: transparent;
	border-radius: 50%;
}

.loader {
	border: 2px solid white;
	border-left-color: transparent;
	width: 36px;
	height: 36px;
}

.loader {
	border: 2px solid white;
	border-left-color: transparent;
	width: 36px;
	height: 36px;
	animation: spin89345 1s linear infinite;
}

@keyframes spin89345 {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.timer-btn {
	background-color: #ffa11633;
	color: #ffa116;
	padding-inline: .5rem;
	border-radius: 0.375rem;
	height: 2rem;

	&:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
		transition-property: background-color;
		background-color: rgba(255, 161, 22, 0.16);
	}
}

.time-btn {
	white-space: pre;
	background-color: #ffffff1a;
	padding: 2px;
	border-radius: 0.375rem;
	font-size: 0.875rem;
	padding-inline: .375rem;
	transition-property: background-color;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 150ms;
		transition-property: background-color;
	}
}
